h1{
    width: 200px;
    border: 2px solid rgb(248, 59, 59);
   margin-left: 0px;
}
h1:hover{
 width: 500px;
 transition: width 2s ;
}
#outer{
    width: 500px;
    height: 50px;
    border: 1px solid black;
}
#inner{
    width: 0;
    height: 50px;
    background-color: red;
}
#outer:hover{
    #inner{
        width: 100%;
       
        background-color: aqua;
        transition: width 5s ease-in-out, background-color 5s ease-in-out;
    }
}



#outer1{
    width: 500px;
    height: 50px;
    border: 1px solid black;
}
#inner1{
    height: 50px;
    
}
#outer1:hover{
    #inner1{
        animation: myAnimation 5s linear;

        
    }
}
@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;
    }
     50%{
        width: 50%;
        background-color: rgb(204, 247, 14);
    }
     100%{
        width: 100%;
        background-color: rgb(248, 15, 159);
    }
}

#d2{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border: 1px solid black;
    transform: rotateX(90 deg);
}


