body {
  background: #f2f2f2;
  font-family: Arial;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

.hidden {
  display: none;
}
