*{
    margin: 0;
    padding: 0;
}
#dabba{
    width: 100px;
    height: 100px;
    position: absolute;
    border: px solid black;
    animation: moving 5s linear infinite;
}
@keyframes moving 
{
    0%{
        top: 0px;
        left: 0px;
        background-color: red;
        transform: rotate(1800 deg);
    }
    25%{
        top: 0px;
        left: 500px;
        background-color: blueviolet;
    } 
    25%{

    }  
    50%{
        top: 500px;
        left: 500px;
        background-color: blue;
    } 
    75%{
        top: 500px;
        left: 0;
        background-color: yellow;
    }
    100%{
        top: 0;
        left: 0;
        background-color: red;
    }
}