#bulb{
    padding: 50;
    border: 1px solid black;
    border-radius: 100%;
    width: fit-content;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    
    margin: 10px;
}

#smartBulb{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;

}
.On{
    background-color: yellow;
}

.color{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
        border: 1px solid black;
        margin-bottom: 10px;
    border-radius: 50%;
    

}
#rainbow{
      padding: 50;
    border: 1px solid black;
    border-radius: 100%;
    width: fit-content;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#c1{
    background-color: violet;
}
#c2{
    background-color: indigo;

}
#c3{
    background-color: blue;
}
#c4{
    background-color: green;
}
#c5{
    background-color: yellow;
}
#c6{
    background-color: orange;
}
#c7{
    background-color: red;
}