*{
    padding: 0;
    margin: 0;
}
.NavBar{
border: 1px solid rgb(8, 8, 8);
background-color: blue;
color: aliceblue;
display: flex;
padding: 10px 50px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0px;
}
#link{
    display: flex;
    gap: 20px;
}
button{
    background-color: red;
    position: fixed;
    bottom: 40px;
    right: 40px;

}